
.hero-section {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
  justify-content: space-between; /* Distribute space between elements */
  align-items: center; /* Align items vertically */
  margin-left: 30px;
}

.hero-heading, .hero-btn, .hero-image, .hero-sub-heading, .hero-content {
  flex: 1; 
  margin: 10px; 
}
.hero-heading{
  text-align: left;
}

.hero-image img {
  max-width: 100%; /* Ensure the image doesn't overflow */
  margin-top: 80px;
  
}

.hero-content {
  max-width: 500px; /* Control the width of the text content */
  text-align: left;
}
.hero-sub-heading{
  text-align: left;
  margin-top: 20px;
  margin-left: 10px;
}
.hero-btn{
  padding: 10px 42px;
  border: none;
  border-radius: 11px;
  background-color: #0274FF;
  color: white;
  font-size: 15px;
}
