/* SignupForm.css */
.signup-form-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .main-login-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .login-social-logo{
    width: 20px;
    margin-right: 20px;
  }

  .social-signup-buttons button{
    width: 30vh;
  }
  
  .social-signup-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    margin-left: 90px;
  }
  
  .social-button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: white;
  }
  
  .social-button i {
    margin-right: 10px;
  }
  
  .login-link {
    color: blue;
    display: block;
    margin: 10px 0;
    cursor: pointer;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    margin-left: -25vh;
  }
  
  .signup-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 50vh;
    box-sizing: border-box;
  }

  .signup-section{
    display: flex;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .remember-me input{
    margin-left: -23vh;
  }

  .remember-me label{
    margin-left: -26vh;
    font-size: 13px;
  }
  .submit-button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 30vh;
  }
  
  .alternative-signup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-left: 10vh;
    margin-top: 5vh !important;
  }

  .alternative-signup button{
    width: 30vh;
  }
  